In [1]:
# from pathlib import Path
import pandas as pd
# import seaborn as sns
# import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix, classification_report, plot_confusion_matrix, accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from collections import Counter
from sklearn.linear_model import LogisticRegression
# from numpy import mean
# from numpy import std
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
import pickle

In [2]:
# Read salary data
file_path = Path("Resources/data.csv")
df = pd.read_csv(file_path)

# Display sample data
df.head(10)

   Age  SystolicBP  DiastolicBP  BloodSugar  BodyTemp  HeartRate  RiskLevel
0   25         130           80       15.00      98.0         86  high risk
1   35         140           90       13.00      98.0         70  high risk
2   29          90           70        8.00     100.0         80  high risk
3   30         140           85        7.00      98.0         70  high risk
4   35         120           60        6.10      98.0         76   low risk
5   23         140           80        7.01      98.0         70  high risk
6   23         130           70        7.01      98.0         78   mid risk
7   35          85           60       11.00     102.0         86  high risk
8   32         120           90        6.90      98.0         70   mid risk
9   42         130           80       18.00      98.0         70  high risk

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014 entries, 0 to 1013
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          1014 non-null   int64
 1   SystolicBP   1014 non-null   int64
 2   DiastolicBP  1014 non-null   int64
 3   BloodSugar   1014 non-null   float64
 4   BodyTemp     1014 non-null   float64
 5   HeartRate    1014 non-null   int64
 6   RiskLevel    1014 non-null   object
dtypes: float64(2), int64(4), object(1)
memory usage: 55.6+ KB

In [4]:
df['RiskLevel'].value_counts()

low risk     406
mid risk     336
high risk    272
Name: RiskLevel, dtype: int64

In [5]:
# columns = df.columns[:len(df.columns) - 1]
# for column in columns:
#     plt.figure(figsize=(10,8), dpi=200)
#     sns.displot(data=df, x=str(column), kde=True, hue="RiskLevel", bins=30).set(title="{} Distribution of Patients".format(str(column)))
#     plt.show()

In [6]:
#  transforming categorical values into numerical
df['RiskLevel'][df['RiskLevel'] == "high risk"] = 0
df['RiskLevel'][df['RiskLevel'] == "mid risk"] = 1
df['RiskLevel'][df['RiskLevel'] == "low risk"] = 2

C:\Users\ubnas\AppData\Local\Temp\ipykernel_25504\4029148555.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['RiskLevel'][df['RiskLevel'] == "high risk"] = 0
C:\Users\ubnas\AppData\Local\Temp\ipykernel_25504\4029148555.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['RiskLevel'][df['RiskLevel'] == "mid risk"] = 1
C:\Users\ubnas\AppData\Local\Temp\ipykernel_25504\4029148555.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['RiskLevel'][df['RiskLevel'] == "low risk"] = 2

In [7]:
df.head(10)

   Age  SystolicBP  DiastolicBP  BloodSugar  BodyTemp  HeartRate RiskLevel
0   25         130           80       15.00      98.0         86         0
1   35         140           90       13.00      98.0         70         0
2   29          90           70        8.00     100.0         80         0
3   30         140           85        7.00      98.0         70         0
4   35         120           60        6.10      98.0         76         2
5   23         140           80        7.01      98.0         70         0
6   23         130           70        7.01      98.0         78         1
7   35          85           60       11.00     102.0         86         0
8   32         120           90        6.90      98.0         70         1
9   42         130           80       18.00      98.0         70         0

In [8]:
y = df['RiskLevel']
y[:5]
y=y.astype('int')

In [9]:
y.value_counts()

2    406
1    336
0    272
Name: RiskLevel, dtype: int64

In [10]:
X = df.drop('RiskLevel', axis=1)
X[:5]

   Age  SystolicBP  DiastolicBP  BloodSugar  BodyTemp  HeartRate
0   25         130           80        15.0      98.0         86
1   35         140           90        13.0      98.0         70
2   29          90           70         8.0     100.0         80
3   30         140           85         7.0      98.0         70
4   35         120           60         6.1      98.0         76

In [11]:
print(X.shape, y.shape)

(1014, 6) (1014,)

In [12]:
print(Counter(y))

Counter({2: 406, 1: 336, 0: 272})

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

# Logistic Regression Multinomial

In [14]:
# scaler = StandardScaler()

In [15]:
# X_train_scaled = scaler.fit_transform(X_train)
# X_test_scaled = scaler.fit_transform(X_test)

In [16]:
# define the multinomial logistic regression model
model = LogisticRegression(multi_class='multinomial', solver='lbfgs', max_iter=1500)
model

LogisticRegression(max_iter=1500, multi_class='multinomial')

In [17]:
# define the model evaluation procedure
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)

In [18]:
# evaluate the model and collect the scores
n_scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)

In [19]:
# report the model performance
print('Mean Accuracy: %.3f (%.3f)' % (mean(n_scores), std(n_scores)))

Mean Accuracy: 0.620 (0.040)

In [20]:
# Fit (train) or model using the training data
model.fit(X_train,y_train)

LogisticRegression(max_iter=1500, multi_class='multinomial')

In [21]:
# Score the model using the test data
print(f"Training Data Score: {model.score(X_train, y_train)}")
print(f"Testing Data Score: {model.score(X_test, y_test)}")

Training Data Score: 0.6118421052631579
Testing Data Score: 0.6377952755905512

In [22]:
#  make predictions
predictions = model.predict(X_test)
results = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)
results.head(10)

   Prediction  Actual
0           0       1
1           2       2
2           2       2
3           0       0
4           2       2
5           0       0
6           2       1
7           1       0
8           1       2
9           1       2

In [23]:
# Display the accuracy score for the test dataset.
accuracy_score(y_test, predictions)

0.6377952755905512

In [24]:
# input data
row = [17,110,75,12,101,76]

In [25]:
prediction = model.predict([row])

c:\Users\ubnas\OneDrive\Desktop\Class_Folder\Misc\packages\anaconda\envs\pythonenv\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [26]:
print('Predicted class:', prediction[0])

Predicted class: 0

In [27]:
file_name  = 'saved_model.sav'

In [28]:
pickle.dump(model, open(file_name, 'wb'))

In [29]:
d = {'age': '2', 'systolicbp': '2', 'diastolicbp': '2', 'bloodsugar': '2', 'bodytemp': '2', 'heartrate': '2'}

In [30]:
input = list(d.values())

In [31]:
print(input)

['2', '2', '2', '2', '2', '2']

In [33]:
a = list(map(int, input))

In [34]:
a

[2, 2, 2, 2, 2, 2]

In [35]:
prediction = model.predict([a])

c:\Users\ubnas\OneDrive\Desktop\Class_Folder\Misc\packages\anaconda\envs\pythonenv\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [37]:
print(prediction[0])

2