In [1]:
import pandas as pd
from pathlib import Path
import geopandas

In [2]:
# Readdata
file_path = Path("Resources/unused/maternal.csv")
df = pd.read_csv(file_path, encoding='latin-1')

# Display sample data
df.head(10)

,ISO_Code,Country,year_2000,year_2005,year_2010,year_2015,year_2020
0,AFG,Afghanistan,1346,1103,899,776,620
1,ALB,Albania,14,11,9,7,8
2,DZA,Algeria,159,144,112,89,78
3,AGO,Angola,860,550,367,274,222
4,ATG,Antigua and Barbuda,51,34,31,27,21
5,ARG,Argentina,72,63,55,39,45
6,ARM,Armenia,50,38,33,25,27
7,AUS,Australia,7,5,5,5,3
8,AUT,Austria,6,6,6,6,5
9,AZE,Azerbaijan,56,44,33,29,41

In [3]:
geo_df = geopandas.read_file("Resources/unused/countries.geojson")

In [4]:
joined_gdf = geo_df.merge(df, on="Country")
joined_gdf.to_file('Resources/unused/geojson.geojson', driver='GeoJSON')